
* {
  box-sizing: border-box;
}


.menu {
  float:left;
  width:20%;
  text-align:center;
  
}


.menuitem {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:22px;
  border: 1px solid gray;
  list-style-type: none;
}


.main {
  float:left;
  width:60%;
  padding-left: 10px;
  padding-right: 10px;
}


.right {
  background-color:#e5e5e5;
  border: 1px solid gray;
  float:left;
  width:20%;
  padding:40px;
  margin-top:82px;
  text-align:center;
}

.rodape{  background-color: #e5e5e5;
          text-align: center;
          margin-top: 10px;
          padding: 10px;
}

a:link {
    color: black;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    font-size: larger;
}


a:visited {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
}

a:hover {
    color: green;
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
}

a:active {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: larger;
} 

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}



h1 {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 3px gold, 0 0 25px blue, 0 0 5px rebeccapurple;
}


#banda {font-size: 30px;
        text-align: center;
        color: white;
}




#paragrafo1 {
  background-color: #e5e5e5;
  opacity: 0.8;
  margin: 10p;
  font-weight: bold;
  color: #000000;
  padding: 10px 10px; 
}

#paragrafo2 {
  background-color: #e5e5e5;
  opacity: 0.8;
  margin: 7px;
  font-weight: bold;
  color: #000000;
  padding: 10px 10px; 
}

#paragrafo3 {
  background-color: #e5e5e5;
  opacity: 0.8;
  margin: 7px;
  font-weight: bold;
  color: #000000;
  padding: 10px 10px; 
}

#paragrafo4 {
  background-color: #e5e5e5;
  opacity: 0.8;
  margin: 7px;
  font-weight: bold;
  color: #000000;
  padding: 10px 10px; 
}

#imagem1{
  display:  block;
   margin-left: auto;
   margin-right: auto;
}

#imagem2{
  display: block;
   margin-left: auto;
   margin-right: auto;
}

#imagem3{
  display: block;
   margin-left: auto;
   margin-right: auto;
}

#imagem4{
  display: block;
   margin-left: auto;
   margin-right: auto;
}



#cabecalho { background-image: url("imagens/background_wallpaper.jpg");
             background-repeat: no-repeat;
             max-width: 100%;
             max-height: 100%;
             border: 1px solid black;
             text-align: center;
}
              
              
body { background-repeat: no-repeat;
       background-size: auto;
       background-attachment:fixed;
}



